version: '3.8'

services:
  plantuml:
    image: plantuml/plantuml-server:jetty
    container_name: plantuml-server
    ports:
      - "8088:8080"
    restart: unless-stopped
    environment:
      - JAVA_OPTS=-Xmx1024m

